<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span>Adicionar fundadores da loja <%= @loja.nome %></span>
	</div>

	<div class="mws-panel-body no-padding">
		<%= form_for @fundador, html: { :class => "mws-form" } do |f| %>
			<%= hidden_field_tag "loja_id", @loja.id %>

			<% if flash.present? %>
				<div class="mws-form-message error">
					Ocorreu um erro

	        <ul>
	        	<li><%= flash[:notice] %></li>
	        </ul>
				</div>
			<% end %>

			<div class="mws-form-inline">
				<div class="mws-form-row">
					<label class="mws-form-label">
						CIM
						<span class="required">*</span>
					</label>
					<div class="mws-form-item">
						<%= f.text_field :cim, html: { :class => "small" } %>
					</div>
				</div>	
			</div>

				<div class="mws-button-row">
					<input type="submit" value="Adicionar" class="btn btn-success">
					<input type="reset" value="Cancelar" class="btn" onclick="window.location.href='/fundadores';">
				</div>
		<% end %>
	</div>    	
</div>