<div class="mws-panel grid_6">
	<div class="mws-panel-header">
		<div style="float: right; margin-top: -4px;">

		</div>

		<span>Irmãos da loja <%= @loja.nome %></span>
	</div>

	<div class="mws-panel-body no-padding">
		<div id="DataTables_Table_1_wrapper" class="dataTables_wrapper" role="grid">
			<table class="mws-table">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					<% @irmaos_filiados.each do |irmao| %>
						<tr>
							<td><%= irmao.pessoa.nome %></td>
							<td>
								<span><i class="icon-search"></i><span>
								<%= link_to "Consultar", edit_pessoa_path(irmao), :style => "color: black;" %>

								&nbsp;

								<span><i class="icon-tools"></i><span>
								<%= link_to "Cargo", "/loja/administracao/#{irmao.pessoa.id}/cargo", :style => "color: black;" %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>

			<%= page_entries_info(@irmaos_filiados) %>

			<%= will_paginate(@irmaos_filiados, :renderer => WillPaginate::ActionView::RelicsLinkRenderer) %>
		</div>
	</div>
</div>

<div class="mws-panel grid_2">
	<%#= render "lojas/partials/filtro" %>
</div>