$("#loja_endereco").val("<%= @templo.endereco %>");
$("#estado_id").val("<%= @templo.estado.id %>");

// CIDADE POR ESTADO
$.getJSON("/combo/cidades/<%= @templo.estado.id %>", function(data) {
	$("#bairro_id").empty();
	$("#cidade_id").empty();
	$("<option value=''>Selecione</option>").appendTo("#cidade_id");
	$("<option value=''>Selecione</option>").appendTo("#bairro_id");

	$.each(data, function(i,item) {
		$("<option value=\"" + item.id + "\">" + item.nome + "</option>").appendTo("#cidade_id");
	});
}).done(function() {
	$("#cidade_id").val("<%= @templo.cidade.id %>");

	// BAIRRO POR CIDADE
	$.getJSON("/combo/bairros/<%= @templo.cidade.id %>", function(data) {
		$("#bairro_id").empty();
		$("<option value=''>Selecione</option>").appendTo("#bairro_id");

		$.each(data, function(i,item) {
			$("<option value=\"" + item.id + "\">" + item.nome + "</option>").appendTo("#bairro_id");
		});
	}).done(function() {
		$("#bairro_id").val("<%= @templo.bairro.id %>");
	});
});

$("#loja_cep").val("<%= @templo.cep %>");