<div class="mws-panel grid_6">
	<div class="mws-panel-header">
		<div style="float: right; margin-top: -4px;">
			<%= link_to "Nova Peça", "/pecas/new", :class => "btn btn-success" %>
		</div>

		<span>Peças de Arquitetura</span>
	</div>

	<div class="mws-panel-body no-padding">
		<div id="DataTables_Table_1_wrapper" class="dataTables_wrapper" role="grid">
			<table class="mws-table">
				<thead>
					<tr>
						<th>Tema</th>
						<th>Grau</th>
						<th>Categoria</th>
						<th>Responsável</th>
						<th>Documento</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					<% @pecas.each do |peca| %>
					<tr>
						<td><%= truncate(peca.tema, length: 50) %></td>
						<td><%= peca.grau %></td>
						<td><%= peca.categoria %></td>
						<td><%= peca.responsavel.try(:nome) %></td>
						<td style="text-align: center;">
							<% unless peca.arquivo_file_name.nil? %>
								<%= link_to "Exibir", peca.arquivo.url, target: "blank" %>
							<% end %>

							<% if peca.texto.present? %>
								<%= link_to "Exibir", "/pecas/#{peca.id}/texto" %>
							<% end %>
						</td>
						<td>
							<span><i class="icon-search"></i><span>
							<%= link_to "Consultar", edit_peca_path(peca), :style => "color: black;" %>

							<% if can? :excluir_peca, @loja or current_user.pessoa.criou_a_peca?(peca.criador) or current_user.has_role?(:admin_master) %>
								&nbsp;
								<span><i class="icon-trash"></i><span>
								<%= link_to "Excluir", peca_path(peca), :method => :delete, :confirm => "Confirma a exclusão ?", :style => "color: black;" %>
							<% end %>	
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>

			<%= page_entries_info(@pecas) %>

			<%= will_paginate(@pecas, :renderer => WillPaginate::ActionView::RelicsLinkRenderer) %>
		</div>
	</div>
</div>

<div class="mws-panel grid_2">
	<%= render "pecas/partials/filtro" %>
</div>