<div class="mws-panel grid_6">
	<div class="mws-panel-header">
		<div style="float: right; margin-top: -4px;">
			<%# if can? :adicionar_fundador, @loja %>
				<%#= link_to "Adicionar fundador", new_fundador_path, :class => "btn btn-success" %>
			<%# end %>
		</div>

		<span>Quadro de irmãos fundadores da loja <%= @loja.nome %></span>
	</div>

	<div class="mws-panel-body no-padding">
		<div id="DataTables_Table_1_wrapper" class="dataTables_wrapper" role="grid">
			<table class="mws-table">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					<% @irmaos_filiados.each do |irmao| %>
						<tr>
							<td style="text-align: center;"><%= irmao.pessoa.nome %></td>
							<td style="text-align: center;">
								<span><i class="icon-search"></i><span>
								<%= link_to "Consultar", edit_pessoa_path(irmao.pessoa, :loja_id => session[:loja_id]), :style => "color: black;" %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>

			<%= page_entries_info(@irmaos_filiados) %>

			<%= will_paginate(@irmaos_filiados, :renderer => WillPaginate::ActionView::RelicsLinkRenderer) %>
		</div>
	</div>
</div>

<div class="mws-panel grid_2">
	<%#= render "fundadores/partials/filtro" %>
</div>