<div class="mws-panel grid_6">
	<div class="mws-panel-header">
		<div style="float: right; margin-top: -4px;">
			<% if can? :adicionar_fundador, @loja %>
				<%= link_to "Adicionar fundador", new_fundador_path, :class => "btn btn-success" %>
			<% end %>
		</div>

		<span>Quadro de irmãos fundadores da loja <%= @loja.nome %></span>
	</div>

	<div class="mws-panel-body no-padding">
		<div id="DataTables_Table_1_wrapper" class="dataTables_wrapper" role="grid">
			<table class="mws-table">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					<% @fundadores.each do |fundador| %>
						<tr>
							<td style="text-align: center;"><%= fundador.nome %></td>
							<td style="text-align: center;">
								<%= link_to "Consultar", edit_pessoa_path(fundador), :style => "color: black;" %>
								&nbsp;
								<% if can? :excluir_fundador, @loja %>
									<span><i class="icon-trash"></i><span>
									<%= link_to "Excluir", fundador_path(fundador), :method => :delete, :confirm => "Confirma a exclusão ?", :style => "color: black;" %>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>

			<%= page_entries_info(@fundadores) %>

			<%= will_paginate(@fundadores, :renderer => WillPaginate::ActionView::RelicsLinkRenderer) %>
		</div>
	</div>
</div>

<div class="mws-panel grid_2">
	<%= render "fundadores/partials/filtro" %>
</div>