<script>
	$(document).ready(function() {
		$("#oriente_estadual_telefone").mask("(99) 9999 - 9999");
		$("#oriente_estadual_cep").mask("99999-999");
	});
</script>

<div class="mws-panel grid_6">
	<div class="mws-panel-header">
		<span><%= @oriente_estadual.new_record? ? "Cadastrar Oriente Estadual" : @oriente_estadual.nome %></span>
	</div>
	
	<div class="mws-panel-body no-padding">
	<%= form_for @oriente_estadual, :html => { :class => "mws-form", :multipart => true } do |f| %>
	<div class="mws-form-inline">
		<div class="mws-form-row">
			<label class="mws-form-label">
				Nome
				<span class="required">*</span>	
			</label>
			<div class="mws-form-item">
				<%= f.text_field :nome, :class => "small" %>
			</div>
		</div>
		
		<div class="mws-form-row">
			<label class="mws-form-label">
				Sigla
				<span class="required">*</span>	
			</label>
			<div class="mws-form-item">
				<%= f.text_field :sigla, :class => "small" %>
			</div>
		</div>
		
		<div class="mws-form-row">
			<label class="mws-form-label">
				URL
				<span class="required">*</span>	
			</label>
			<div class="mws-form-item">
				<%= f.text_field :url, :class => "small" %>
			</div>
		</div>
		
		<div class="mws-form-row">
			<label class="mws-form-label">
				Email
				<span class="required">*</span>	
			</label>
			<div class="mws-form-item">
				<%= f.text_field :email, :class => "small" %>
			</div>
		</div>
		
		<div class="mws-form-row">
			<label class="mws-form-label">
				Telefone
			</label>
			<div class="mws-form-item">
				<%= f.text_field :telefone, :class => "small" %>
			</div>
		</div>
		
		<div class="mws-form-row">
			<label class="mws-form-label">
				Grão-mestre
			</label>
			<div class="mws-form-item">
				<%= f.text_field :graomestre, :class => "small" %>
			</div>
		</div>
		
		<div class="mws-form-row">
			<label class="mws-form-label">
				Secretário
			</label>
			<div class="mws-form-item">
				<%= f.text_field :secretario, :class => "small" %>
			</div>
		</div>
		
		<div class="mws-form-row">
			<label class="mws-form-label">UF</label>
			<div class="mws-form-item">
				<%= f.select :estado_id, @ufs, { :include_blank => "Selecione" }, { :class => "small", :id => "estado_id" } %>
			</div>
		</div>
		
		<div class="mws-form-row">
			<label class="mws-form-label">Cidade</label>
			<div class="mws-form-item">
				<% if @oriente_estadual.cidade.present? %>
					<%= f.select :cidade_id, Cidade.por_estado(@oriente_estadual.estado.id), { :include_blank => "Selecione" }, { :class => "small", :id => "cidade_id" } %>
				<% else %>
					<%= f.select :cidade_id, [], { :include_blank => "Selecione" }, { :class => "small", :id => "cidade_id" } %>
				<% end %>
			</div>
		</div>
		
		<div class="mws-form-row">
			<label class="mws-form-label">Bairro</label>
			<div class="mws-form-item">
				<% if @oriente_estadual.cidade.present? %>
					<%= f.select :bairro_id, Bairro.por_cidade(@oriente_estadual.cidade.id), { :include_blank => "Selecione" }, { :class => "small", :id => "bairro_id" } %>
				<% else %>
					<%= f.select :bairro_id, [], { :include_blank => "Selecione" }, { :class => "small", :id => "bairro_id" } %>
				<% end %>
			</div>
		</div>
		
		<div class="mws-form-row">
			<label class="mws-form-label">
				Endereço
			</label>
			<div class="mws-form-item">
				<%= f.text_field :endereco, :class => "small" %>
			</div>
		</div>
		
		<div class="mws-form-row">
			<label class="mws-form-label">
				CEP
			</label>
			<div class="mws-form-item">
				<%= f.text_field :cep, :class => "small" %>
			</div>
		</div>	
	
	<div class="mws-button-row">
		<% if @oriente_estadual.new_record? %>
				<input type="submit" value="Cadastrar" class="btn btn-success">
		<% else %>
				<input type="submit" value="Atualizar" class="btn btn-success">
		<% end %>

		<input type="reset" value="Cancelar" class="btn" onclick="window.location.href='/orientes_estaduais';">
	</div>
	</div>
	<% end %>
	</div><!-- mws-panel-body no-padding -->
</div><!-- mws-panel grid_6 -->