<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span>Administração da loja <%= @loja.nome %></span>
	</div>

	<div class="mws-panel-body no-padding">
		<%= form_for @eleicao, html: { class: "mws-form" } do |f| %>
			<%= hidden_field_tag "irmao_id", params[:irmao_id] %>
		
			<% if flash.present? %>
				<div class="mws-form-message error">
					Ocorreu um erro

	        <ul>
	        	<li><%= flash[:notice] %></li>
	        </ul>
				</div>
			<% end %>

			<div class="mws-form-inline">
				<div class="mws-form-row">
					<label class="mws-form-label">
						<strong><%= @irmao.nome %></strong>
					</label>
					<div class="mws-form-item">
						<%= f.select :cargo_id, @cargos, { :include_blank => "Selecione o cargo" }, { :class => "small" } %>
					</div>
				</div>

				<div class="mws-form-row">
					<label class="mws-form-label">
						Período
						<span class="required">*</span>
					</label>
					<div class="mws-form-item">
						<%= f.text_field :periodo, maxlength: 10, class: "small" %>
					</div>
				</div>
			</div>

			<div class="mws-button-row">
				<input type="submit" value="Salvar" class="btn btn-success">
				<input type="reset" value="Cancelar" class="btn" onclick="window.location.href='/administracao';">
			</div>
		<% end %>
	</div>    	
</div>