<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span>Permissão na loja: &nbsp; <%= @loja.nome %></span>
	</div>

	<div class="mws-panel-body no-padding">
		<%= form_for @user, :url => "/permissoes/#{@user.id}", :html => {:method => :put, :class => 'mws-form' } do |f| %>
			<div class="mws-form-inline">
				<div class="mws-form-row">
					<label class="mws-form-label">
						Nome
					</label>
					<div class="mws-form-item">
						<%= @user.pessoa.nome %>
					</div>
				</div>

				<div class="mws-form-row">
					<label class="mws-form-label">
						E-mail
					</label>
					<div class="mws-form-item">
						<%= @user.pessoa.email_particular %>
					</div>
				</div>

				<div class="mws-form-row">
					<label class="mws-form-label">Perfil</label>
					<div class="mws-form-item">
						<ul class="mws-form-list">
							<% Role.todas.each do |role| %>
								<li>
									<input id="permissao" type="radio" name="user[role_ids]" value="<%= role.id %>" <% if @user.role_ids.include?(role.id) %> checked="checked" <% end %>>
									<label for="permissao"><%= role.name.titleize %></label>
								</li>
							<% end %>
						</ul>
					</div>
				</div>
			</div>

			<div class="mws-button-row">
				<input type="submit" value="Salvar" class="btn btn-success">
				<input type="reset" value="Cancelar" class="btn" onclick="window.location.href='/permissoes';">
			</div>
		<% end %>
	</div>    	
</div>