<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Oficinas de Hiram" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "" %>"> 

		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>

  <body>
		<%= render "/layouts/partials/topo" %>

		<div id="mws-wrapper">
			<div id="mws-sidebar-stitch"></div>
			<div id="mws-sidebar-bg"></div>

			<%= render "/layouts/partials/menu_lateral" %>

			<!-- Main Container Start -->
			<div id="mws-container" class="clearfix">
				<!-- Inner Container Start -->
				<div class="container">
					<%= yield %>
				</div>
			</div>
			<!-- Main Container End -->
		</div>
  </body>

</html>